{% extends "base.html" %}
{% load staticfiles %}
{% block title %}My appliances{% endblock %}
{% block additional_js %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src={% static "app-js/my_appliances.js" %}></script>
{% endblock %}
{% block body-script %}
<script type="text/javascript">
    $('select').select2();
    $('select#view_user').change(function(){
        var url = $('select#view_user').val();
        if(url != "")
            window.location.href = url;
    });
</script>
{% endblock %}
{% block body %}
<div ng-app="myAppliancesApp">

{% if not request.user.is_superuser %}
    <h2>Listing and operation of your appliances</h2>
{% else %}
    <h2>Listing and operation of {% if show_user == "my" %}my{% else %}{{ show_user }}'s{% endif %} appliances - switch to: 
        <select id="view_user">
            <option value="">Select an user ...</option>
        {% if show_user != "my" %}
            <option value="{% url 'my_appliances' %}">My appliances</option>
        {% endif %}
        {% if show_user != "all" %}
            <option value="{% url 'all_appliances' %}">All appliances</option>
        {% endif %}
        {% for user in other_users %}
            {% if user.id != show_user %}
                <option value="{% url 'user_appliances' user.username %}">{{ user.first_name }} {{ user.last_name }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </h2>
{% endif %}
{% for pool in pools %}
    <div class="panel panel-primary" id="pool-{{ pool.id }}">
        <div class="panel-heading">
            <strong>Pool #{{pool.id}}, {{ pool.current_count }}/{{ pool.total_count }} appliances - {{ pool.group.id }} ({% if pool.version %}{{ pool.version }}{% else %}{{ pool.date }}{% endif %}) - {% if pool.preconfigured %}Configured{% else %}Unconfigured{% endif %}{% if pool.yum_update %} with YUM updated appliances{% endif %}
            {% if not pool.finished %}
            - D: {{ pool.num_delayed_provisioning_tasks }}, Q: {{ pool.num_provisioning_tasks_before }}, PS: {{ pool.num_possible_provisioning_slots }}, AS: {{ pool.num_possible_appliance_slots}}, SA: {{ pool.num_shepherd_appliances }}
            {% endif %}</strong>
            {% if show_user == "all" %}
                <em>Owner: {{ pool.owner.first_name }} {{ pool.owner.last_name }}
                <a href="{% url 'user_appliances' pool.owner.username %}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-hand-right"></span> {{ pool.owner.username }}</a></em>
            {% endif %}
            <div class="form-inline">
                <div class="form-group">
                    <label for="pool-desc-{{ pool.id }}">Description</label>
                    <input id="pool-desc-{{ pool.id }}" name="pool-desc-{{ pool.id }}" value="{{ pool.description }}" class="form-control">
                    <button class="btn btn-primary btn-xs set-pool-desc" data-poolid="{{ pool.id }}"><span class="glyphicon glyphicon-floppy-save"></span> Set</button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID:</th>
                    <th>Name:</th>
                    <th>Provider:</th>
                    <th>Address:</th>
                    <th style="width: 10%;">Manages:</th>
                    <th style="width: 10%;">Ready?</th>
                    <th>Power state:</th>
                    <th>Expires in:</th>
                    <th>Actions:</th>
                    <th>Lease actions:</th>
                </tr>
            </thead>
            <tbody>
                {% for appliance in pool.appliances %}
                <tr id="appliance-{{ appliance.id }}">
                    <td>{{ appliance.id }}</td>
                    <!-- There's gotta be a better way to do this angular thing, but that probably involves REST. -->
                    <td style=" overflow: auto;" ng-controller="EditVmName" ng-init="applianceId = '{{ appliance.id }}'; apiURL = '{% url 'rename_appliance' %}'; taskResultURL = '{% url 'task_result' %}'; applianceOriginalName = '{{ appliance.name }}'; applianceHasUUID = {{ appliance.has_uuid_angular }} ;">
                    {% if appliance.vnc_link %}<a href="{{ appliance.vnc_link }}" target="_blank"><img src={% static "img/console.png" %}></a>{% endif %}
                        <div ng-hide="editing" ng-click="edit()">
                            {[{ vm.name }]}
                        </div>
                        <div ng-show="editing">
                            <input ng-model="vm.name" ng-disabled="submitting">
                            <a href="#" class="btn btn-success btn-xs" ng-click="save(vm)" ng-hide="submitting"><span class="glyphicon glyphicon-ok"></span></a>
                            <a href="#" class="btn btn-danger btn-xs" ng-click="cancel()" ng-hide="submitting"><span class="glyphicon glyphicon-remove"></span></a>
                            <span class="spinner spinner-xs spinner-inline" ng-show="submitting"></span>
                        </div>
                    </td>
                    <td>{{ appliance.template.provider.id }}</td>
                    <td>
                        {% if appliance.ip_address %}
                            <a href="https://{{ appliance.ip_address }}/" target="_blank">{{ appliance.ip_address }}</a>
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>
                        {% if appliance.managed_providers %}
                            {% for provider in appliance.managed_providers %}
                                <a href="{% url 'providers' %}#provider-{{provider}}" class="btn btn-default btn-xs">{{provider}}</a>
                            {% endfor %}
                        {% else %}
                            <em>Nothing! :)</em>
                        {% endif %}
                    </td>
                    <td style="overflow-x: auto;">
                        {% if appliance.ready %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            {{ appliance.status }}
                        {% endif %}
                    </td>
                    <td>{{ appliance.power_state }}</td>
                    <td>{{ appliance.expires_in }}</td>
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Appliance operations">
                            <div class="btn-group" role="group" aria-label="Power operations">
                                {% if appliance.can_launch %}
                                    <a href="{% url 'appliance_action' appliance.id 'start' %}" class="btn btn-success btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-off"></span> Launch</a>
                                {% endif %}
                                {% if appliance.can_stop %}
                                    <a href="{% url 'appliance_action' appliance.id 'stop' %}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-off"></span> Stop</a>
                                {% endif %}
                                {% if appliance.can_reboot %}
                                    <a href="{% url 'appliance_action' appliance.id 'reboot' %}" class="btn btn-warning btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-repeat"></span> Reboot</a>
                                {% endif %}
                                {% if appliance.can_suspend %}
                                    <a href="{% url 'appliance_action' appliance.id 'suspend' %}" class="btn btn-warning btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-pause"></span> Suspend</a>
                                {% endif %}
                            </div>
                            <div class="btn-group" role="group" aria-label="">
                                <a href="{% url 'appliance_action' appliance.id 'kill' %}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove-sign"></span> Kill</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        {% if not appliance.marked_for_deletion %}
                        <div class="btn-toolbar" role="toolbar" aria-label="Appliance lease time control">
                            <div class="btn-group" role="group" aria-label="...">
                            <a href="{% url 'appliance_action' appliance.id 'set_lease' 30 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 30m</a>
                            <a href="{% url 'appliance_action' appliance.id 'set_lease' 60 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 1h</a>
                            <a href="{% url 'appliance_action' appliance.id 'set_lease' 240 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 4h</a>
                            <a href="{% url 'appliance_action' appliance.id 'set_lease' 1440 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 1d</a>
                            <a href="{% url 'appliance_action' appliance.id 'set_lease' 10080 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 1w</a>
                            {% if appliance.leased_until and request.user.is_superuser %}
                                <a href="{% url 'appliance_action' appliance.id 'dont_expire' %}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure? This means the appliances wont get deleted automatically')"><span class="glyphicon glyphicon-ban-circle"></span> Don't expire</a>
                            {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if not pool.finished %}
                    <tr>
                        <td colspan="2">Fulfillment progress:</td>
                        <td colspan="6">{{ pool.percent_finished|progress }}</td>
                        <td colspan="2">
                            {% if pool.fulfilled %}
                                <span class="glyphicon glyphicon-ok"></span> Fulfilled
                            {% else %}
                                <span class="glyphicon glyphicon-remove"></span> Not fulfilled
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="10">
                        <a href="{% url 'kill_pool' pool.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')" style="display: inline;"><span class="glyphicon glyphicon-trash"></span> Terminate entire pool</a>
                        <form action="{% url 'transfer_pool' %}" method="POST" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="pool_id" value="{{ pool.id }}">
                            <input type="submit" class="btn btn-success btn-sm" value="Transfer ownership to:" onclick="return confirm('Are you sure?')">
                            <select name="user_id" class='select-user'>
                            {% for user in pool.possible_other_owners %}
                                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                            {% endfor %}
                            </select>
                        </form>
                        {% if not pool.not_needed_anymore %}
                        | Set expiration for all vms:
                        <a href="{% url 'prolong_lease_pool' pool.id 30 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 30m</a>
                        <a href="{% url 'prolong_lease_pool' pool.id 60 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 1h</a>
                        <a href="{% url 'prolong_lease_pool' pool.id 240 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 4h</a>
                        <a href="{% url 'prolong_lease_pool' pool.id 1440 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 1d</a>
                        <a href="{% url 'prolong_lease_pool' pool.id 10080 %}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-time"></span> 1w</a>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'dont_expire_pool' pool.id %}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure? This means the appliances wont get deleted automatically')"><span class="glyphicon glyphicon-ban-circle"></span> Don't expire</a>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endfor %}

{% if display_legend %}
    <h3>Legend</h3>
    <ul>
        <li><strong>D</strong> - How many delayed provisioning tasks are scheduled for this pool.</li>
        <li><strong>Q</strong> - How many other delayed provisioning tasks are scheduled before the latest task of this pool.</li>
        <li><strong>PS</strong> - How many slots for simultaneous provisioning are currently free.</li>
        <li><strong>AS</strong> - How many slots for appliances are currently free. If it is lower than you need, you won't get the required number of appliances!</li>
        <li><strong>SA</strong> - How many of shepherd appliances that can be taken in the pool.</li>
    </ul>
{% endif %}
{% if can_order_pool %}
    {% if new_pool_possible %}
        <h2>Requesting additional pools{% if pools_remaining %} ({{pools_remaining}} remaining){% endif %}</h2>
        <form action="{% url 'request_pool' %}" method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
              <label for="stream" class="col-md-2 control-label">Select stream:</label>
              <div class="col-md-4">
                  <select class="form-control" id="stream" name="stream">
                    <option value="<None>">Please select ...</option>
                    {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.id }}</option>
                    {% endfor %}
                  </select>
              </div>
            </div>
            <div class="form-group">
                <label for="preconfigured" class="col-md-2 control-label">Preconfigured?:</label>
                <div class="col-md-4">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="form-control" id="preconfigured" name="preconfigured" value="true" checked>
                      </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="yum_update" class="col-md-2 control-label">YUM updated?:</label>
                <div class="col-md-4">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="form-control" id="yum_update" name="yum_update" value="true" disabled="true">
                      </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
              <label for="version" class="col-md-2 control-label">Select version:</label>
              <div class="col-md-4">
                  <select class="form-control" id="version" name="version">
                    <option value="latest">Latest</option>
                  </select>
                  <em>If applicable</em>
                </div>
            </div>
            <div class="form-group">
              <label for="date" class="col-md-2 control-label">Select build date:</label>
              <div class="col-md-4">
                  <select class="form-control" id="date" name="date">
                    <option value="latest">Latest</option>
                  </select>
                  <em>If applicable</em>
              </div>
            </div>
            <div class="form-group">
              <label for="provider" class="col-md-2 control-label">Select specific provider:</label>
              <div class="col-md-4">
                  <select class="form-control" id="provider" name="provider">
                    <option value="any">Any provider (recommended option!)</option>
                  </select>
                  <em>The meaning of the numbers in parentheses are: Remaining provisioning slots, Remaining appliance slots and Number of such appliances in shepherd. Use only in the case when you really need a specific provider. In every other case, leave the choice to Sprout!</em>
                </div>
            </div>
            <div class="form-group">
              <label for="count" class="col-md-2 control-label">Number of appliances wanted:</label>
              <div class="col-md-4">
                <input type="number" class="form-control" id="count" name="count" min="1" value="1" {% if per_pool_quota_enabled %}max="{{per_pool_quota}}"{% endif %}>
              </div>
            </div>
            <div class="form-group">
              <label for="exp_hours" class="col-md-2 control-label">Expiration:</label>
              <div class="col-md-4" ng-controller="EditExpiration">
                Default? <input type="checkbox" id="exp_default" name="exp_default" ng-model="defaultTimeout"><br>
                <input type="number" id="exp_days" name="exp_days" min="0" max="7" ng-model="expDays" ng-disabled="defaultTimeout" ng-change="updateForm()"> D
                <input type="number" id="exp_hours" name="exp_hours" min="0" max="24" ng-model="expHours" ng-disabled="defaultTimeout" ng-change="updateForm()"> H
                <input type="number" id="exp_mins" name="exp_mins" min="0" max="59" ng-model="expMins" ng-disabled="defaultTimeout" ng-change="updateForm()"> M
                <input type="hidden" id="expiration" name="expiration" ng-model="expiration" value="{[{ expiration }]}"> <strong> = {[{ expiration }]} minutes</strong>
              </div>
            </div>
            <button class="btn btn-primary btn-lg" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-star-empty"></span> Gimme one!</button>
        </form>
        <script type="text/javascript">
        $(document).ready(function() {
            // Description setting
            $('button.set-pool-desc').click(function(){
                var e = $(this);
                var poolid = e.attr("data-poolid");
                var input = document.getElementById("pool-desc-" + poolid);
                var description = input.value;
                $.ajax({
                    type: "POST",
                    url: "{% url 'set_pool_description' %}",
                    data: {pool_id: poolid, description: description},
                    dataType: 'html'
                }).done(function(data){
                    addAlert("success", "Description of the pool " + poolid + " set to '" + description + "'.");
                }).fail(function(xhr, textStatus, errorThrown){
                    addAlert("danger", "Error during setting of the description of the pool " + poolid + ": '" + xhr.responseText + "'.");
                })
            });

            // Provisioning
            $('select#stream').change(function(){
                $.ajax({
                        type: "POST",
                        url: "{% url 'versions_for_group' %}",
                        data: {stream: $('select#stream').val(), preconfigured: $("#preconfigured").is(":checked")},
                        dataType: 'html'
                 }).done(function(data){
                    $('select#version').html(data);
                    $("select#version").trigger("change");
                 });
            });
            $('#preconfigured').change(function(){
                $("select#stream").trigger("change");  // a bit stupid but no better idea right now
            });
            $('select#version').change(function(){
                $.ajax({
                        type: "POST",
                        url: "{% url 'date_for_group_and_version' %}",
                        data: {stream: $('select#stream').val(), version: $('select#version').val(), preconfigured: $("#preconfigured").is(":checked")},
                        dataType: 'html'
                 }).done(function(data){
                    $('select#date').html(data);
                    $("select#date").trigger("change");
                 });
            });
            $('select#date').change(function(){
                $.ajax({
                        type: "POST",
                        url: "{% url 'providers_for_date_group_and_version' %}",
                        data: {stream: $('select#stream').val(), version: $('select#version').val(), date: $('select#date').val(), preconfigured: $("#preconfigured").is(":checked")},
                        dataType: 'html'
                 }).done(function(data){
                    $('select#provider').html(data);
                    $("select#provider").trigger("change");
                 });
            });
        });
        </script>
    {% else %}
        <h3>You reached the limit of your account, no more pools</h3>
    {% endif %}
{% endif %}
</div>
{% endblock %}
