{% extends "base.html" %}
{% block title %}Providers{% endblock %}
{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Complete usage statistics</strong>
    </div>
    <table class="table table-striped">
        <thead>
            <th>User name</th>
            <th>Number of appliances</th>
        </thead>
        <tbody>
            {% for username, count in complete_usage %}
            <tr>
                <td>{% if request.user.is_superuser %}<a href="{% url 'user_appliances' username %}">{{ username }}</a>{% else %}{{ username }}{% endif %}</td>
                <td>{{ count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
{% for provider in providers %}
<div class="panel panel-primary" id="provider-{{ provider.id }}">
    <!-- Provider data -->
    <div class="panel-heading">
        <strong>{{ provider.id }}</strong> - {{ provider.ip_address }}
    </div>
    <!-- Appliance list -->
    <div class="panel-body">
        <h2>Appliance list</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Appliance name</th>
                    <th>Template</th>
                    <th>Group</th>
                    <th>Owner</th>
                    <th>Expires in</th>
                    <th>Power state</th>
                </tr>
            </thead>
            <tbody>
            {% if provider.currently_managed_appliances %}
                {% for appliance in provider.currently_managed_appliances %}
                    <tr>
                        <td>{{ appliance.name }}</td>
                        <td>{{ appliance.template.name }}</td>
                        <td>{{ appliance.template.template_group.id }}</td>
                        <td>{{ appliance.owner.username }}</td>
                        <td>{{ appliance.expires_in }}</td>
                        <td>{{ appliance.power_state }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="6"><em>No appliances managed on this provider ...</em></td></tr>
            {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6"><em>
                        Total: {{ provider.num_currently_managing }} |
                        Max. appliance count limit: {{ provider.appliance_limit }} |
                        Currently provisioning: {{ provider.num_currently_provisioning }} |
                        Total prov. slots: {{ provider.num_simultaneous_provisioning }} |
                        Remaining prov. slots: {{ provider.remaining_provisioning_slots }}
                    </em></td>
                </tr>
                <tr>
                    <td>Provider load:</td>
                    <td colspan="4">{{ provider.load|progress }}</td>
                    <td>{% widthratio provider.load 1 100 %}%</td>
                </tr>
            </tfoot>
        </table>
        <!-- Provider usage -->
        <h2>Provider usage (by users) statistics</h2>
        <table class="table table-striped">
            <thead>
                <th>User name</th>
                <th>Number of appliances</th>
            </thead>
            <tbody>
                {% for username, count in provider.user_usage %}
                <tr>
                    <td>{% if request.user.is_superuser %}<a href="{% url 'user_appliances' username %}">{{ username }}</a>{% else %}{{ username }}{% endif %}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Provider managing load -->
        <h2>Which appliances manage this provider?</h2>
        <table class="table table-striped">
            <thead>
                <th>Appliance name</th>
                <th>Appliance group</th>
                <th>Appliance provider</th>
                <th>Appliance owner</th>
            </thead>
            <tbody>
                {% for appliance in provider.g_appliances_manage_this_provider %}
                <tr>
                    <td>{{ appliance.name }}</td>
                    <td>{{ appliance.template.template_group.id }}</td>
                    <td>{{ appliance.template.provider.id }}</td>
                    <td>
                        {% if appliance.owner %}
                            {% if request.user.is_superuser %}
                                <a href="{% url 'user_appliances' appliance.owner.username %}#appliance-{{ appliance.id }}">{{ appliance.owner.username }}</a>
                            {% else %}
                                {{ appliance.owner }}
                            {% endif %}
                        {% else %}
                            No owner
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% endblock %}