{% extends "base.html" %}
{% block title %}Free appliance shepherd{% endblock %}
{% block body %}
<h1>Free appliance shepherd</h1>
    {% for group in groups %}
        <h2>{{ group.id }}</h2>
        <h3>Preconfigured appliances</h3>
        {% with group.configured_shepherd_appliances as appliances %}
            {% if appliances %}
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Template</th>
                        <th>Version</th>
                        <th>Date</th>
                        <th>Provider</th>
                    </thead>
                    <tbody>
                        {% for appliance in appliances %}
                            <tr>
                                <td>{{ appliance.name }}</td>
                                <td>{{ appliance.template.name }}</td>
                                <td>{{ appliance.version }}</td>
                                <td>{{ appliance.template.date }}</td>
                                <td>{{ appliance.template.provider.id }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Sorry, no shepherd appliances from preconfigured template for {{group.id}}</p>
            {% endif %}
        {% endwith %}
        <h3>Bare appliances</h3>
        {% with group.unconfigured_shepherd_appliances as appliances %}
            {% if appliances %}
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Template</th>
                        <th>Version</th>
                        <th>Date</th>
                        <th>Provider</th>
                    </thead>
                    <tbody>
                        {% for appliance in appliances %}
                            <tr>
                                <td>{{ appliance.name }}</td>
                                <td>{{ appliance.template.name }}</td>
                                <td>{{ appliance.version }}</td>
                                <td>{{ appliance.template.date }}</td>
                                <td>{{ appliance.template.provider.id }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Sorry, no shepherd appliances from nonconfigured template for {{group.id}}</p>
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endblock %}