{% extends "base.html" %}
{% block title %}Providers{% endblock %}
{% block body %}
{% for group in groups %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>{{ group.id }}</strong>
        </div>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Original name</th>
                <th>Preconfigured?</th>
                <th>Version</th>
                <th>Date</th>
                <th>Provider</th>
                <th>Ready</th>
                <th>Usable</th>
                {% if request.user.is_superuser %}
                    <th>Actions</th>
                {% endif %}
            </thead>
            <tbody>
            {% for template in group.existing_templates %}
            <tr>
                <td>{{ template.name }}</td>
                <td>{{ template.original_name }}</td>
                <td>{% if template.preconfigured %}yes{% else %}no{% endif %}</td>
                <td>{{ template.version }}</td>
                <td>{{ template.date }}</td>
                <td>{{ template.provider.id }}</td>
                <td>
                {% if template.ready %}
                        <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span> Ready</button>
                    {% else %}
                        <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Not ready</button>
                    {% endif %}
                </td>
                <td>
                    {% if template.usable %}
                        <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span> Usable</button>
                    {% else %}
                        <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Unusable</button>
                    {% endif %}
                </td>
                {% if request.user.is_superuser %}
                    <td>
                        <div class="btn-toolbar" role="toolbar" aria-label="Template operations">
                            <div class="btn-group" role="group" aria-label="">
                                {% if template.can_be_deleted %}
                                    <a href="{% url 'appliances.views.delete_template_provider' template.id %}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-trash"></span> Delete in provider</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
{% endblock %}