{% extends "base.html" %}
{% block title %}Providers{% endblock %}
{% block body %}
<ul class="nav nav-tabs">
{% for group_ in groups %}
    <li {% if group_.id == group_id %}class="active"{% endif %}><a href={% url 'group_templates' group_.id %}>{{group_.id}} ({{ group_.existing_templates|length }})</a> </li>
{% endfor %}
</ul>

<table class="table">
    <thead>
        <th>Stream</th>
        <th>Version</th>
        <th>Date</th>
        <th>Provider</th>
        <th>Name</th>
        <th>Configured</th>
        <th>Keep?</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for zstream, version, date, datetuple, provider, template in prepared_table %}
        <tr id="{{ template.id }}">
            {% if zstream %}<td rowspan={{ zstream_rowspans|keyvalue:zstream }}>{{ zstream }}</td>{% endif %}
            {% if version %}<td rowspan={{ version_rowspans|keyvalue:version }}>{{ version }}</td>{% endif %}
            {% if date %}<td rowspan={{ date_version_rowspans|keyvalue:datetuple }}>{{ date }}</td>{% endif %}
            <td><a href="{% url 'specific_provider' provider.id %}#template-{{ template.id }}">{{ provider.id }}</a></td>
            <td>
                {% if template.suggested_delete %}<strong>{% endif %}
                {{ template.name }} {% if template.parent_template and template.parent_template.exists_and_ready %}(<a href="#{{ template.parent_template.id }}">parent</a>){% endif %}
                {% if template.suggested_delete %}</strong>{% endif %}
            </td>
            <td><input type="checkbox" disabled {% if template.preconfigured %}checked{% endif %}></td>
            <td><input type="checkbox" class="keep_template" value="true" data-tid={{ template.id }} {% if template.keep %}checked{% endif %}></td>
            <td>
                {% if template.suggested_delete %}
                    <button class="btn btn-danger btn-xs delete-template" data-template="{{ template.id }}" id="button-{{ template.id }}"><span class="glyphicon glyphicon-trash"></span> Delete from provider</button>
                    <span class="spinner spinner-xs spinner-inline" id="spinner-{{ template.id }}"></span>
                {% else %}
                    <em>No actions suggested</em>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button class="btn btn-success btn-xs {% if not group.suggested_templates_delete %}disabled{% endif %}" id='deleting_disable'><span class="glyphicon glyphicon-trash"></span> Disable template deletion</button>
<button class="btn btn-danger btn-xs {% if group.suggested_templates_delete %}disabled{% endif %}" id='deleting_enable'><span class="glyphicon glyphicon-trash"></span> Enable template deletion</button>


<script type="text/javascript">
$(document).ready(function() {
    function waitForDeletionFinish(template, task_id){
        $.ajax({
            type: "POST",
            url: "{% url 'task_result' %}",
            dataType: "json",
            data: JSON.stringify({task_id: task_id}),
        }).done(function(data){
            if(data === null){
                // Still waiting
                setTimeout(function(){ waitForDeletionFinish(template, task_id); }, 1000);
            } else if(data === true) {
                addAlert("success", "Deletion of the template " + template + " was successfully finished.");
                $("#spinner-" + template).hide();
            } else if(data === false){
                addAlert("danger", "Failed to delete template " + template);
                $("#spinner-" + template).hide();
                $("#button-" + template).show();
            } else {
                addAlert("danger", "Unexpected response " + data + " while deleting template " + template);
                $("#spinner-" + template).hide();
                $("#button-" + template).show();
            }
        }).fail(function(xhr, textStatus, errorThrown){
            addAlert("danger", "Error during deleting the template " + template + ": '" + xhr.responseText + "'.");
            $("#spinner-" + template).hide();
            $("#button-" + template).show();
        });
    }

    $("#deleting_enable").click(function() {
        var e = $(this);
        if(e.hasClass('disabled')) return;
        e.addClass('disabled');
        if(!$("#deleting_disable").hasClass('disabled'))
            $("#deleting_disable").addClass('disabled');
        // Stuff is blocked now, kick off the ajax request
        $.ajax({
            type: "POST",
            url: "{% url 'enable_group_template_deletion' group.id %}",
            dataType: 'html'
        }).done(function(data) {
            $("#deleting_disable").removeClass('disabled');
        }).fail(function(xhr, textStatus, errorThrown) {
            addAlert("danger", "Error during template deletion enable: " + xhr.responseText);
            e.removeClass('disabled');
        })
    });

    $("#deleting_disable").click(function() {
        var e = $(this);
        if(e.hasClass('disabled')) return;
        e.addClass('disabled');
        if(!$("#deleting_enable").hasClass('disabled'))
            $("#deleting_enable").addClass('disabled');
        // Stuff is blocked now, kick off the ajax request
        $.ajax({
            type: "POST",
            url: "{% url 'disable_group_template_deletion' group.id %}",
            dataType: 'html'
        }).done(function(data) {
            $("#deleting_enable").removeClass('disabled');
        }).fail(function(xhr, textStatus, errorThrown) {
            addAlert("danger", "Error during template deletion disable: " + xhr.responseText);
            e.removeClass('disabled');
        })
    });

    $(".keep_template").click(function() {
        var e = $(this);
        if(e.hasClass('disabled')) return;
        e.addClass('disabled');
        var template_id = e.attr('data-tid');
        if(e.is(":checked")) {
            var url = "{% url 'template_keep_enable' %}";
        } else {
            var url = "{% url 'template_keep_disable' %}";
        }
        $.ajax({
            type: "POST",
            url: url,
            dataType: "html",
            data: {template_id: template_id}
        }).done(function(data) {
            e.removeClass('disabled');
        }).fail(function(xhr, textStatus, errorThrown) {
            addAlert("danger", "Error during template deletion disable: " + xhr.responseText);
            e.removeClass('disabled');
        });
    });

    $(".spinner").hide();
    // Template deletion
    $('button.delete-template').click(function(){
        var e = $(this);
        var template = e.attr("data-template");
        $("#spinner-" + template).show();
        $("#button-" + template).hide();        
        $.ajax({
            type: "POST",
            url: "{% url 'delete_template_provider' %}",
            data: {template_id: template},
            dataType: 'html'
        }).done(function(data){
            addAlert("info", "Deletion of the template " + template + " from provider initiated");
            waitForDeletionFinish(template, data);
        }).fail(function(xhr, textStatus, errorThrown){
            addAlert("danger", "Error during template delete request " + template + ": '" + xhr.responseText + "'.");
            $("#spinner-" + template).hide();
            $("#button-" + template).show();
        })
    });
})
</script>
{% endblock %}