*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
chromedriver.log
conf/*.yaml
pytest.ini

# Translations
*.mo

# IDE settings
.codeintel
.mr.developer.cfg
.project
.pydevproject
.settings

# Ipython notebooks need to be explicitly added
notebooks/*.ipynb
