*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# logs
pip-log.txt
log/*

# docs inventories
docs/*.inv

# Docstrings
doc_data.yaml

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
chromedriver.log
conf/*yaml
pytest.ini

# Translations
*.mo

# IDE settings
.codeintel
.mr.developer.cfg
.project
.pydevproject
.settings
.floo*
.python-version

# rendered documentation
docs/_build
docs/modules

# Ipython notebooks need to be explicitly added
notebooks/*.ipynb
notebooks/.ipynb_checkpoints

# yaml key
.yaml_key

# automation artifacts
.generated_ssh_key*
.appliance_template
.jenkins*
cfme-qe-yamls
rhci-qe-data
robottelo
rhci/robottelo.log
