cached-property
boto
bottle
bottle-sqlite
diaper
docker-py
fauxfactory>=2.0.7
flake8
function_trace
functools32
ipython
iso8601
Jinja2
jsmin
jupyter
kwargify
# 15.8.1 breaks yaycl: https://github.com/mk-fg/layered-yaml-attrdict-config/commit/ea12fbf31b96abf15543c7b436272d8854b5d324
layered-yaml-attrdict-config
mgmtsystem>0.0.15
mock
multimethods.py
numpy
ovirt-engine-sdk-python
paramiko
parsedatetime
pdfminer
progress
psphere
py
pycurl
pycrypto
pygal
PyGithub

pytest==2.9.2
python-bugzilla>=1.2.0
python-cinderclient
python-dateutil
python-keystoneclient
python-novaclient
python-heatclient
pywinrm
PyYAML
requests
riggerlib>=2.0
scp
selenium
slumber
sqlalchemy
suds
tornado
tzlocal
ui-navigate
wait_for
yaycl
yaycl-crypt
shyaml

# docs requirements
# When Sphinx 1.3 is released and on RTD, we can upgrade and use
# napoleon from sphinx.ext instead of the sphinxcontrib version
Sphinx<1.3
sphinx-rtd-theme
sphinxcontrib-napoleon
six>=1.9

# requirements for prt-bot interaction via RabbitMQ
pika

###
# Libraries with compiled components, and their related devel packages
###

# lxml super SGML parser, needs libxml2-devel and libxslt-devel
lxml

# Postgres client bindings, needs postgresql-devel
psycopg2

# zeromq bindings, for ipython and parallel testing, needs zeromq3-devel
pyzmq

# werkzeug.local until extraction
werkzeug
