cartouche
boto
bottle
bottle-sqlite
docker-py
flake8
functools32
function_trace
ipython
Jinja2
ovirt-engine-sdk-python
paramiko
psphere
py
PyGithub
PyPDF2
pytest
python-bugzilla>=1.1.0
python-dateutil
python-keystoneclient
python-novaclient
pywinrm
PyYAML
requests
riggerlib
scp
selenium
slumber
multimethods.py
sphinx-rtd-theme
sqlalchemy
suds
tornado
tzlocal
ui-navigate

###
# Libraries with compiled components, and their related devel packages
###

# lxml super SGML parser, needs libxml2-devel and libxslt-devel
lxml

# Postgres client bindings, needs postgresql-devel
psycopg2

# zeromq bindings, for ipython and parallel testing, needs zeromq3-devel
pyzmq
