{% extends "base.html" %}

{% block body %}

{% if form.errors %}
<div class='alert alert-danger fade in'>
            <button class="close" data-dismiss="alert">×</button>
            Provided data didn't match. Please try again
        </div>
{% endif %}

<form method="post" action="{% url 'appliances:password_change' %}" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please enter your old and new password</h2>
    <label for="inputOldPassword" class="sr-only">Old password</label>
    <input type="password" id="inputOldPassword" class="form-control" placeholder="Old password" required autofocus name="old_password">
    <label for="inputNewPassword1" class="sr-only">New password</label>
    <input type="password" id="inputNewPassword1" class="form-control" placeholder="New password" required autofocus name="new_password1">
    <label for="inputNewPassword2" class="sr-only">Retype new password</label>
    <input type="password" id="inputNewPassword2" class="form-control" placeholder="Retype new password" required autofocus name="new_password2">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Change password!</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}