base_url: https://10.11.12.13
browser:
    webdriver: Remote
    webdriver_options:
        desired_capabilities:
            platform: LINUX
            browserName: 'chrome'
            unexpectedAlertBehaviour: 'ignore'
github:
    default_repo: foo/bar
    token: abcdef0123456789
custom_ports:
    ssh: 22
    database: 5432
ssh:
    look_for_keys: true