redhat_updates:
    rhsm:
        url: 10.0.0.1
        credentials: rhsm
    sat5:
        url: 10.0.0.2
        credentials: sat5
    sat6:
        url: 10.0.0.3
        credentials: sat6
        organization: qe
    http_proxy:
        url: 10.0.0.1
        username: user
        password: secret
    registration_method: rhsm
    current_version: 5.2.0.20
    appliances:
      - name: EVM (1)
        version: 5.2.0.20
      - name: EVM (2)
        version: 5.2.0.12
      - name: EVM (3)
        version: 5.2.0.12
    appliances_to_update:
      - EVM (1)
      - EVM (2)
      - EVM (3)
      - EVM
management_systems:
    rhevm32:
        name: RHEV 3.2
        default_name: RHEV-M (10.0.0.3)
        credentials: rhevm31-credential_name_from_credentials.yaml
        cu_credentials: rhevm31-cu_db_cred_name_from_credentials.yaml
        hostname: rhevm.example.com
        ipaddress: 10.0.0.1
        server_zone: default
        api_port: 3000
        type: rhevm
        discovery_range:
            start: 10.0.0.3
            end: 10.0.0.3
        hosts:
            host1:
                name: myhost
                credentials: myhost
        clusters:
            iscsi: iscsi
        datastores:
            iscsi: iscsi_data
        isos:
            - RHEL6.iso
            - Fedora-19.iso
        tags:
            Provisioning Scope: All
            Environment *: Production
        policy_profiles:
            - "Websrv Provision Automation"
        test_vm_power_control: 
            - vm_name
        # for setting mgmt eng relationship
        appliances: 
            - name: EVM (1)
              vm_name: vm_name
pxe:
    pxe_servers:
        rhel:
            name: rhel
            depot_type: Network File System
            uri: 10.0.0.1
            access_url: http://10.0.0.1
            pxe_dir: pxe
            windows_img_dir: microsoft
            customization_dir: customization
            pxe_img_menus_filename: menu.php
    images:
        - image1
        - image2
    templates:
        rhel:
            name: rhel6
            description: my description
            image_type: RHEL-6
            template_type: Kickstart
            script: anaconda.ks #localfile?
    datastores:
        - datastore1
        - datastore2
provisioning:
    linux_template_workflow:
        template: linux_template
        node: purpose_node
        child_node: purpose_child_node
        provision_type: VMware
        count: 1
        vm_name: aTestVM
        vm_description: My Test VM Description
        host: host.server.name.com
        datastore: datastore1
        when_to_provision: 1
        power_on: True
        time_until_retirement: 1 Month
        user:
            user_owner:
            group_owner: dev-group
            credentials: dev_provisioner
user_groups:
    dev:
        name: dev-group 
        role: EvmRole-user_self_service
    test:
        name: user-group-ad 
        role: EvmRole-user_self_service
ldap_server:
    session_timeout_hours: "1"
    session_timeout_mins: "0"
    mode: LDAP
    hostname1: ad.example.com
    hostname2:
    hostname3:
    port: "389"
    user_type: userprincipalname
    user_suffix: ad.example.com
    get_groups: True
    get_roles: True
    follow_referrals: False
    base_dn: dc=ad,dc=example,dc=com
    bind_dn: administrator@ad.example.com
    bind_passwd: password
zones:
    refarch_zone:
        name: CloudForms
        description: CF 2.0 RHEV Integration
        ntp_servers:
            - 0.us.pool.ntp.org
            - 1.us.pool.ntp.org
            - 2.us.pool.ntp.org
server_roles:
    default:
        - automate
        - ems_metrics_coordinator
        - ems_metrics_collector
        - ems_metrics_processor
        - database_operations
        - event
        - notifier
        - ems_inventory
        - ems_operations
        - reporting
        - scheduler
        - smartproxy
        - smartstate
        - user_interface
policies:
    import: "tests/scenarios/refarch_2013_rhev/data/policies.yaml"
automate:
    import: 
        path: "tests/scenarios/refarch_2013_rhev/data"
        file: "refarch.xml"
    instance:
        parent_class: Automation Requests (Request)
        details:
            - scalewebsrv
            - scalewebsrv
            - Auto-scale web server
        hook:
            row: 2
            value: "/RefArch/Service/scalewebsrv"

