{% extends 'base.html' %}
{% set title = 'Event testing results' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{title}}</h1>
    <table class="zebra-striped">
        <tr>
            <th colspan="7"><em>{{ test_name }}</em></th>
        </tr>
        <tr>
            <th>Time registered</th>
            <th>Succeeded?</th>
            <th>Delay [s]</th>
            <th>Event id</th>
            <th>Target type</th>
            <th>Target id</th>
            <th>Real target id</th>
            <th>Event type</th>
            <th>Message</th>
        </tr>
        {% for event in registered_events %}
        <tr>
            <td>{{ event.time_friendly }}</td>
            <td style="color: {{ event.colour }};">{{ event.success_friendly }}</td>
            <td style="color: {{ event.colour }};">{{ event.time_difference }}</td>
            <td>{{ event.id }}</td>
            <td>{{ event.target_type }}</td>
            <td>{{ event.target_id }}</td>
            <td>{{ event.real_target_id }}</td>
            <td><em>{{ event.event_type }}</em></td>
            <td><em>{{ event.message }}</em></td>
        </tr>
        {% endfor %}
    </table>
    <h3>All received events:</h3>
    <table class="zebra-striped">
        <tr>
            <th>Event id</th>
            <th>Event type</th>
            <th>Timestamp</th>
            <th>Target type</th>
            <th>Target id</th>
            <th>Message</th>
        </tr>
        {% for event in all_events %}
            <tr>
                <td>{{ event["event_id"] }}</td>
                <td>{{ event["event_type"] }}</td>
                <td>{{ event["timestamp"] }}</td>
                <td>{{ event["target_type"] }}</td>
                <td>{{ event["target_id"] }}</td>
                <td><em>{{ event["message"] }}</em></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}