{% extends 'base.html' %}
{% set title = 'Event testing results' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{title}}</h1>
    <table class="zebra-striped">
        <tr>
            <th colspan="7"><em>{{ test_name }}</em></th>
        </tr>
        <tr>
            <th>Time registered</th>
            <th>Succeeded?</th>
            <th>Delay [s]</th>
            <th>System type</th>
            <th>Object type</th>
            <th>Object</th>
            <th>Event</th>
        </tr>
        {% for event in registered_events %}
        <tr>
            <td>{{ event.time_friendly }}</td>
            <td style="color: {{ event.colour }};">{{ event.success_friendly }}</td>
            <td style="color: {{ event.colour }};">{{ event.time_difference }}</td>
            <td>{{ event.sys_type }}</td>
            <td>{{ event.obj_type }}</td>
            <td>{{ event.obj }}</td>
            <td><i>{{ event.event }}</i></td>
        </tr>
        {% endfor %}
    </table>
    <h3>All received events:</h3>
    <table class="zebra-striped">
        <tr>
            <th>Event type</th>
            <th>Resource name</th>
            <th>Time arrived</th>
            <th>Event</th>
        </tr>
        {% for event in all_events %}
            <tr>
                <td>{{ event["event_type"] }}</td>
                <td>{{ event["resource_name"] }}</td>
                <td>{{ event["event_time"] }}</td>
                <td>{{ event["event"] }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <i>If something breaks down, go kill <a href="mailto:mfalesni@redhat.com">mfalesni@redhat.com</a></i>
    </p>
</div>
{% endblock %}