{% extends 'pattern_base.html' %}
{% set title = 'Test Report' %}

{% block title %}{{title}}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="dist/themes/default/style.min.css" />
<style>
.label {
  display: inline-block;
}
</style>
{% endblock %}

{% block nav %}
  <nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="collapse navbar-collapse navbar-collapse-21">
      <ul class="nav navbar-nav navbar-pf navbar-primary">
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="container-fluid" id="content">
  <div class="row">
    <div class="col-md-4">
      <h1>Test Report</h1>
      {% if version %}<h2>Version: {{version}}</h2>{% endif %}
    </div>
    <div class="col-md-8 text-right">
      <span class="label label-success">{{counts.passed}} Passed &nbsp;<input id="passed-check" type="checkbox" onclick="toggle('passed');"></span>
      <span class="label label-primary">{{counts.skipped}} Skipped &nbsp;<input id="skipped-check" type="checkbox" onclick="toggle('skipped');"></span>
      <span class="label label-warning">{{counts.failed}} Failed &nbsp;<input id="failed-check" type="checkbox" onclick="toggle('failed');" checked="checked"></span>
      <span class="label label-danger">{{counts.error}} Error &nbsp;<input id="error-check" type="checkbox" onclick="toggle('error');" checked="checked"></span>
      <span class="label label-danger">{{counts.xpassed}} XPassed &nbsp;<input id="xpassed-check" type="checkbox" onclick="toggle('xpassed');" checked="checked"></span>
      <span class="label label-success">{{counts.xfailed}} XFailed &nbsp;<input id="xfailed-check" type="checkbox" onclick="toggle('xfailed');"></span>
    </div>
  </div>
  <div class="col-md-4">
    <p></p>
      <div>
        <input id="plugins4_q" value="" class="input pull-right" style="display:block; color: #000;" type="text" placeholder="Search">
      </div>
    <div id="container">
      {{ndata}}
    </div>
  </div>
  <div class="col-md-8">
    <p></p>
{% for test in tests %}
    <div data="{{test.outcomes['overall']}}" class="panel panel-inverse panel-{{test.color}}">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <a id="{{test.name|e}}" href="#{{test.name|e}}"><strong>{{test.name}}</strong></a>
                    <br>
                    {% if test.in_progress %}
                        <strong>IN PROGRESS...</strong>
                    {% else %}
                        <strong>COMPLETE</strong>
                    {% endif %}
                    <br>
                    <strong>Duration:</strong> <em>{{test.duration}}</em>
                    {% if test.slaveid %}
                    <br>
                    <strong>SLAVE:</strong> <em>{{test.slaveid}}</em>
                    {% endif %}
                    {% if test.qa_contact %}
                    <br>
                    <strong>OWNER:</strong> <em>{{test.qa_contact}}</em>
                    {% endif %}
                    {% if test.composite %}
                    <br>
                    <strong>BUILD NUMBER:</strong> <a href="{{test.composite.result_url}}"><em>{{test.composite.best_result.0}}</em></a>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    Setup
                    {% if test.outcomes['setup'] %}
                        {% if test.outcomes['setup'][0] == "passed" %}
                            <span class="label label-success pull-right">Passed</span>
                        {% elif test.outcomes['setup'][0] == "failed" %}
                            <span class="label label-warning pull-right">Failed</span>
                        {% elif test.outcomes['setup'][0] == "skipped" %}
                            <span class="label label-danger pull-right">Unknown</span>
                        {% else %}
                            <span class="label label-default pull-right">N/A</span>
                        {% endif %}
                    {% else %}
                        <span class="label label-default pull-right">N/A</span>
                    {% endif %}
                    <br>
                    Call
                    {% if test.outcomes['call'] %}
                        {% if test.outcomes['call'][0] == "passed" %}
                            <span class="label label-success pull-right">Passed</span>
                        {% elif test.outcomes['call'][0] == "failed" %}
                            <span class="label label-warning pull-right">Failed</span>
                        {% elif test.outcomes['call'][0] == "skipped" %}
                            <span class="label label-primary pull-right">Skipped</span>
                        {% else %}
                            <span class="label label-default pull-right">N/A</span>
                        {% endif %}
                    {% else %}
                        <span class="label label-default pull-right">N/A</span>
                    {% endif %}
                    <br>
                    Teardown
                    {% if test.outcomes['teardown'] %}
                        {% if test.outcomes['teardown'][0] == "passed" %}
                            <span class="label label-success pull-right">Passed</span>
                        {% elif test.outcomes['teardown'][0] == "failed" %}
                            <span class="label label-warning pull-right">Failed</span>
                        {% elif test.outcomes['teardown'][0] == "skipped" %}
                            <span class="label label-danger pull-right">Unknown</span>
                        {% else %}
                            <span class="label label-default pull-right">N/A</span>
                        {% endif %}
                    {% else %}
                        <span class="label label-default pull-right">N/A</span>
                    {% endif %}
                    <br>
                    Result
                    {% if test.in_progress %}
                        <span class="label label-default pull-right">IN PROGRESS</span>
                    {% else %}
                        {% if test.outcomes['overall'] == "passed" %}
                            <span class="label label-success pull-right">PASSED</span>
                        {% elif test.outcomes['overall'] == "failed" %}
                            <span class="label label-warning pull-right">FAILED</span>
                        {% elif test.outcomes['overall'] == "skipped" %}
                            <span class="label label-primary pull-right">SKIPPED</span>
                        {% elif test.outcomes['overall'] == "error" %}
                            <span class="label label-danger pull-right">ERROR</span>
                        {% elif test.outcomes['overall'] == "xpassed" %}
                            <span class="label label-danger pull-right">XPASSED</span>
                        {% elif test.outcomes['overall'] == "xfailed" %}
                            <span class="label label-success pull-right">XFAILED</span>
                        {% endif %}
                    {% endif %}
                    {% if test.composite %}
                    <br>
                    Streak
                        {% if test.outcomes['overall'] == "passed" %}
                            <span class="label label-success pull-right">
                        {% elif test.outcomes['overall'] == "failed" %}
                            <span class="label label-warning pull-right">
                        {% elif test.outcomes['overall'] == "skipped" %}
                            <span class="label label-primary pull-right">
                        {% elif test.outcomes['overall'] == "error" %}
                            <span class="label label-danger pull-right">
                        {% elif test.outcomes['overall'] == "xpassed" %}
                            <span class="label label-danger pull-right">
                        {% elif test.outcomes['overall'] == "xfailed" %}
                            <span class="label label-success pull-right">
                        {% endif %}
                        {{test.composite.streak.count}} {{test.composite.streak.latest_result|upper}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <p>{{test.file}}</p>
            {% if test.short_tb %}
	            <h4>Short Traceback</h4>
              <pre class="well">{{test.short_tb|e}}</pre>
            {% endif %}
            {% if test.urls %}
              <h4>Captured URLs:</h4>
              <ul>
              {% for url in test.urls %}
                <a href="{{url}}" target="_blank">{{url}}</a>
              {% endfor %}
              </ul>
            {% endif %}
	    {% if test.softassert %}
                <div>
		<h4>Soft Asserts</h4>
		<table>
                {% for assertion in test.softassert %}
                    <tr><td><strong>{{loop.index - 1}}</strong></td>
                    {% for file in assertion %}
                        <td><a class="label label-success" role="button" href="{{assertion[file]}}">{{file}}</a></td>
                    {% endfor %}
		    </tr>
                {% endfor %}
		</table>
                </div>
		<br>
	    {% endif %}
            <div>
                <h3>Artifacts</h3>
                {% if test.rbac_screenshot %}
                    <a href="{{test.rbac_screenshot}}" class="btn btn-primary" role="button">RBAC Screenshot</a>
                {% endif %}
                {% if test.screenshot %}
                    <a href="{{test.screenshot}}" class="btn btn-primary" role="button">Screenshot</a>
                {% endif %}
                {% if test.rbac %}
                    <a href="{{test.rbac}}" class="btn btn-success" role="button">RBAC Traceback</a>
                {% endif %}
                {% if test.full_tb %}
                    <a href="{{test.full_tb}}" class="btn btn-success" role="button">Full Traceback</a>
                {% endif %}
                {% if test.cfme %}
                    <a href="{{test.cfme}}" class="btn btn-success" role="button">CFME.log</a>
                {% endif %}
                {% if test.video %}
                    <a href="{{test.video}}" class="btn btn-success" role="button">Video</a>
                {% endif %}
                {% if test.function %}
                    <a href="{{test.function}}" class="btn btn-success" role="button">Function Trace</a>
                {% endif %}
                {% if test.event_testing %}
                    <a href="{{test.event_testing}}" class="btn btn-success" role="button">Caught events</a>
                {% endif %}
                {% if test.emails %}
                    <a href="{{test.emails}}" class="btn btn-success" role="button">Received e-mails</a>
                {% endif %}
                {% for file in test.merkyl %}
                    <a href="{{file}}" class="btn btn-primary" role="button">{{file[file.rfind("/")+1:]}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="dist/jstree.min.js"></script>
<script>
//bigjson = $.parseJSON('{{big_data}}');

//var build_li = function ting(lev, next_lev) {
//  this_lev = $('<ul></ul>').appendTo(next_lev)
//    $.each( lev, function( key, value ) {
//      if (value['name']) {
//        $('<li>'+value['name']+'</li>').appendTo(this_lev)
//      } else {
//       new_lev = $('<li>'+key+'</li>').appendTo(this_lev)
//        ting(value, new_lev)
//      }
//    });
//}

function toggle(name)
{
  if ($('#'+name+'-check').is(":checked"))
  {
    $('[data='+name+']').show()
  }
  else
  {
    $('[data='+name+']').hide()
  }
}


$().ready(function(){

$(function() {
  $('#container').jstree({
    "plugins" : [ "search" , "sort"],
    "search" : {
        "show_only_matches": true,
        "search_leaves_only": true,
    }
  })
  .bind("ready.jstree", function (event, data) {
    // you get two params - event & data - check the core docs for a detailed description
  $("span[name=mod_lev]").parents(".jstree-closed").each(function () {
    $("#container").jstree("open_node", this, false);
  });
  }).bind('select_node.jstree', function(e,data) {
    window.location.href = data.node.a_attr.href;
});
  var to = false;
  $('#plugins4_q').keyup(function () {
    if(to) { clearTimeout(to); }
    to = setTimeout(function () {
      var v = $('#plugins4_q').val();
      $('#container').jstree(true).search(v);
      if (v == ""){
        $.each(document.getElementsByName('blab'), function(k,v){v.style.display='InlineBlock'})
      }
      else {
        $.each(document.getElementsByName('blab'), function(k,v){v.style.display='None'})
      }
    }, 250);
  });
});
toggle('error')
toggle('failed')
toggle('passed')
toggle('skipped')
toggle('xpassed')
toggle('xfailed')
})

</script>
{% endblock scripts %}
