{%- set bootstrap_version = '3.0.3' -%}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/{{bootstrap_version}}/css/bootstrap.min.css">
        <title>Usage Report</title>
    </head>
    <body>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/{{bootstrap_version}}/js/bootstrap.min.js"></script>
	<h1>Provider Usage Report</h1>
        {{data}}
    </body>
</html>
