tr:target > td {
   font-style: italic;
   font-weight: bold;
   color: red;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h4 > a {
    color: white;
}
