Command
Django>1.10.7,<1.11
-e git+git://github.com/izapolsk/django-json-field.git#egg=json_field
celery[redis]<3.2
django-object-actions
django-ipware
flower
gunicorn
pika
python-memcached

miq-version==0.1.8
