Command
Django<1.10
-e git+git://github.com/izapolsk/django-json-field.git#egg=json_field
celery[redis]<3.2
django-object-actions
django-ipware
flower
gunicorn
pika
python-memcached
redis==2.10.6
miq-version==0.2
