Command
celery[redis]==4.3.0
Django==2.2.5
diaper
django-object-actions
django-ipware==2.1.0  #ipware.ip.get_ip removed in 3.0
flower
gunicorn
kombu==4.5.0
pika
python-memcached
redis==3.3.8
miq-version==0.4.0
yaycl
werkzeug
